  <%= simple_form_for @drug do |f| %>
    <div class="form-drug">
      <%= f.input :generic_name, input_html: { class: "form-control"} %>
      <%= f.input :how_to_use, input_html: { class: "form-control"} %>
      <%= f.input :why_i_take_this_drug, input_html: { class: "form-control"} %>
      <%= f.input :pregnancy_warning, input_html: { class: "form-control"} %>
      <%= f.input :breastfeeding_warning, input_html: { class: "form-control"} %>
      <%= f.input :side_effect, input_html: { class: "form-control"} %>

    </div>
    <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
  <% end %>
